<header class="Header">
  <h1>E-Commerce Platform</h1>
  <div class="Header__div--action" *ngIf="!isAuthenticated()">
    <button mat-flat-button color="primary" (click)="onLoginClick()">Login</button>
    <button mat-flat-button color="secondary" (click)="onSignUpClick()">Sign Up</button>
  </div>

  <div class="Header__div--action" *ngIf="isAuthenticated()">
    <mat-icon class="user_icon" [matMenuTriggerFor]="userMenu">account_circle</mat-icon>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Hi, </button>
      <button mat-menu-item>Orders History</button>
      <button mat-menu-item (click)="onLogOutClick()">Log out</button>
    </mat-menu>
  </div>

</header>
