<header class="Header">
  <h1>E-Commerce Platform</h1>
  <form class="mt-3">
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Search product</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input [formControl]="searchBarControl" [matAutocomplete]="auto" aria-label="Number" matInput
        (keyup)="onProductNameFilterChange()" type="text">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of productNamesToAutocomplete" [value]="option.id">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="Header__div--action" *ngIf="!isAuthenticated()">
    <button mat-flat-button color="primary" (click)="onLoginClick()">Login</button>
    <button mat-flat-button color="secondary" (click)="onSignUpClick()">Sign Up</button>
  </div>

  <div class="Header__div--action" *ngIf="isAuthenticated()">
    <mat-icon class="user_icon" [matMenuTriggerFor]="userMenu">account_circle</mat-icon>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Hi, {{name}}</button>
      <button mat-menu-item>Orders History</button>
      <button mat-menu-item (click)="onLogOutClick()">Log out</button>
    </mat-menu>
  </div>

  <div class="Header__div--action">
    <div class="shopping-cart-icon-wrapper" [matMenuTriggerFor]="cartMenu">
      <img src="../../../../assets/images/shopping-cart.svg" class="shopping-cart-icon">
      <p>My cart</p>
    </div>
    <mat-menu #cartMenu="matMenu" class="cart-dropdown" style="background: #bababa">
      <div class="picked-items-cart">
        <div *ngFor="let item of (cartData | async).items">
          <div class="cart-item">
            <div class="product-image-wrapper"><img src={{item.product.image}} alt="product image"
                style="width: 100px; height: 120px; border-radius: 10px" /></div>
            <div style="margin-top: 10px">
              <span>${{item.product.price}}</span><br>
              <span style="color: #7E7C7C; font-size: 12px;">{{item.product.name}}</span><br>
              <div>
                <span style="color: #7E7C7C; font-size: 10px;">Qty.</span>
                <button mat-icon-button class="qty-edit-container">
                  <mat-icon class="qty-edit" (click)="deleteQuantity(item)">remove</mat-icon>
                </button>
                <input class="quantity-input" value="{{item.quantity}}" readonly>
                <button mat-icon-button class="qty-edit-container-1">
                  <mat-icon class="qty-edit" (click)="addQuantity(item)">add</mat-icon>
                </button>
              </div>
            </div>
            <div class="delete-item-icon"><img src='../../../../assets/images/delete.svg' alt="product image"
                style="width: 20px; height: 20px;" (click)="deleteProduct(item);"/></div>
          </div>
          <mat-divider style="background: #C4C4C4"></mat-divider>
        </div>
      </div>
      <mat-divider style="background: #C4C4C4"></mat-divider>
      <div class="subtotal-container">
        <span style="font-size: 14px;">Sub-total</span>
        <span style="font-size: 14px;">{{(cartData | async).subtotal | currency}}</span>
      </div>
      <button mat-raised-button class="checkout-btn">Orders History</button>
    </mat-menu>
  </div>
</header>
