.Header {

  height: 60px;
  background-color: var(--app-accent);
  color: var(--app-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;

  h1 {
    margin: 0;
  }

  .Header__div--action * {
    margin: 0 .3em;
  }

  .user_icon {
    cursor: pointer;
  }
}
