.Header {

  height: 60px;
  background-color: var(--app-secondary);
  color: var(--title-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  line-height: 1px;
  border-bottom: 2px solid #ff7050;


  h1 {
    margin: 0;
  }

  .Header__div--action * {
    margin: 0 .3em;
  }

  .user_icon {
    cursor: pointer;
    font-size: 28px;
    height: 28px;
    width: 28px;
  }

  .shopping-cart-icon-wrapper{
    display: flex;
    flex-wrap: wrap;
    line-height: 28px;
    cursor: pointer;
  }

  .shopping-cart-icon {
    height: 28px;
    width: 28px;
  }

  .cart-dropdown {
    background: #fafafa;
    .span {
      color: #1a1a1a;
    }
  }
}

.mat-form-field.search-bar {
  width: 400px;
}

.product-image-wrapper {
  margin: 10px;
}

.cart-item {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: 42% 38% 10%;
  grid-template-rows: 30% 30% 30%;
}

.quantity-input {
  height: 15px;
  width: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.quantity-btn {
  background-color: #ffffff;
  color: #a09f9f;
  height: 18px;
  width: 18px;
  line-height: 6px;
}

.delete-item-icon {
  grid-area: 3/4;
  margin-right: 10px;
  cursor: pointer;
}

::ng-deep.mat-menu-panel {
  background: #fafafa !important;
}

.picked-items-cart{
  overflow-y: auto;
  height: 300px;
}

.subtotal-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.checkout-btn {
  background-color: #ff7050;
  color: white;
  width: 200px;
  margin-left: 15%;

}

.qty-edit-container {
  width: 15px;
}

.qty-edit-container-1 {
  width: 15px;
}

.qty-edit {
  font-size: 14px;
}

.header-right-corner {
  display: flex;
  flex-direction: row;
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-outline {
  border: 1px solid black !important;
}
