<div class="Page">
  <div class="Page__content">
    <mat-card>
      <h1>Login to <span class="title">ECP</span></h1>
      <mat-card-content>
        <form [formGroup]="loginForm" class="d-flex flex-column">
          <div class="d-flex flex-column input-container">
            <label for="email">Email</label>
            <input id="email" class="input-field" type="text" formControlName="email" placeholder="Enter your email"
              [ngStyle]="{'border-color': submitted && loginForm.get('email').invalid ?  'var(red)' : 'var(--app-primary)'}">
            <p *ngIf="submitted && loginForm.get('email').invalid" class="p--error">Invalid email!</p>
          </div>

          <div class="d-flex flex-column input-container">
            <label for="password">Password</label>
            <input id="password" class="input-field" type="password" formControlName="password" placeholder="Password"
              [ngStyle]="{'border-color': submitted && loginForm.get('password').invalid ? 'var(--app-error)' : 'var(--app-primary)'}">
            <p *ngIf="submitted && loginForm.get('password').invalid" class="p--error">Invalid password!</p>
          </div>
          <button class="btn--login" mat-raised-button color="primary" type="button" (click)="performLogin()">Log
            in</button>
          <div class="div--info">
            <p>Don't have an account? <a href="/signup" class="a--accent">Sign Up</a></p>
            <a href="#" class="a--accent">Forgot password?</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
