<div class="Page">
  <div class="Page__content">
    <mat-card>
      <h1>Login</h1>
      <mat-card-content>
        <div [formGroup]="loginForm" class="d-flex flex-column">
          <input class="input-field" type="text" formControlName="email" placeholder="E-mail">

          <input class="input-field" type="password" formControlName="password" placeholder="Password">
        </div>
        <button class="btn--login" mat-raised-button color="primary" type="button" (click)="performLogin()">Log
          in</button>
        <div class="div--info">
          <p>Don't have an account? <a href="/signup" class="font-weight-bold">Sign Up</a></p>
          <a href="#" class="font-weight-bold">Forgot password?</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
