.ProductCard {
  padding: 0;
  width: 300px;
  height: 450px;
  background-color: #fff;
  color: #1a1a1a;
  text-align: center;
  -webkit-box-shadow: 0px 1px 13px -1px #868585;
  box-shadow: 0px 1px 13px -1px #949191;


  img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #eeeeee;
  }

.add-product-cart-btn {
  background-color: var(--app-primary);
}

.product-image-container {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.raiting-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 18px;
    p {
      margin-right: 10px;
    }
}
.star-icon {
  color: var(--app-primary);
  font-size: 18px;
  height: 18px;
  width: 18px;
}

  .ProductCard__content {
    padding: 1em 1em 0 1em;

    .ProductCard__content--title {
      font-size: 20px;
      word-break: break-all;
      height: 3em;
      overflow: hidden;
    }

    .ProductCard__content--category {
      font-size: 14px;
      color: var(--text-color);
    }

    .ProductCard__content--price {
      color: var(--text-color);
      font-weight: 500;
      font-size: 18px;
    }

    .ProductCard__content--in-stock {

      font-size: 14px;
      color: green;
      font-weight: 700;
    }

    .ProductCard__content--out-of-stock {
      font-size: 14px;
      color: rebeccapurple;
    }
  }

}
