.Sort__Container {
    display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  width: 20rem;
  padding: 1em .5em;
  background-color: #c2185b;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  }
  
.mat-label-color{
  color:white;
}


.mat-option-color{
  background: #c2185b;
  color:white;
  
}


