.Footer {
  font-size: 16px;
  font-weight: 500;

  padding: 0 3em;
  height: 60px;

  background-color: var(--app-secondary);
  color: var(--title-color);
  border-top: 2px solid var(--app-primary);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}
