.ProductsFiltersContainer {
  width: 25%;
  background-color: var(--app-secondary);
  padding-top: 1%;
}


.ProductsGridLayoutContainer {

  width: 80%;

  .ProductsGridLayout {

    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    color: #1a1a1a;
    background-color:  #ffffff;
  }
}
