.ProductsFiltersContainer {
  width: 25%;

}


.ProductsGridLayoutContainer {

  width: 70%;

  .ProductsGridLayout {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    color: #1a1a1a;
    background-color: #fff;
  }
}
