<div class="Page">

  <div class="Page__content">
    <div class="ProductsFiltersContainer" *ngIf="!areFiltersLoading">

      <label>Filter by product category:</label>
      <app-checkbox-filter [values]="productFilters.categories" (filters)="onCategoriesFilterChange($event)">
      </app-checkbox-filter>

      <label>Filter by product price</label>
      <app-price-filter [minValue]="productFilters.priceLimits.minPrice"
        [maxValue]="productFilters.priceLimits.maxPrice" (onSliderChange)="onPriceChange($event)"></app-price-filter>
      <label>Sort</label>
      <app-select-sort (onSelectChange)="onSortChange($event)"></app-select-sort>
    </div>
    <div class="ProductsFiltersContainer" *ngIf="areFiltersLoading">
      <p>No filters loaded</p>
    </div>

    <div class="ProductsGridLayoutContainer">

      <div class="ProductsGridLayout">
        <app-product-card *ngFor="let product of products" [product]='product'></app-product-card>
      </div>
      <app-pagination-actions (onPaginationChange)="onPaginationChange($event)" [total]="requestMetadata.total"></app-pagination-actions>
    </div>
  </div>

</div>
