/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

:root {
  --app-primary: #FF7050;
  --app-secondary: #fafafa;
  --app-accent: #59ce8f;
  --app-background: #eeeeee;
  --text-color: #808080;
  --title-color: #1a1a1a;
}

html,
body {
  height: 100%;
  font-family: 'Montseratt';
  font-weight: 500;
  font-size: 22px;
}

body {
  margin: 0;
}

.Page {
  overflow: hidden;
}

.Page__content {
  // width: 70%;
  display: flex;
  //justify-content: space-evenly;
  //margin-top: 1em;
  //padding: 5em 0;
  * {
    &:focus {
      outline: none;
    }
  }
}

.Slider__div--price {
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 3px;
    border-radius: 10px;
    background-color: var(--app-primary);
  }

  .mat-accent .mat-slider-thumb {
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid 2px gray;
    bottom: -10px;
  }

}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}
